<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--=============== FAVICON ===============-->
    <link href="/main/img/tero.png" rel="icon" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!--=============== BOXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!--=============== BOXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="/main/css/styles.css" rel="stylesheet">
    <link href="/student-dashboard/css/student_dashboard.css" rel="stylesheet">
    <link href="/community/css/community.css" rel="stylesheet">
    <link href="/student-dashboard/css/widget.css" rel="stylesheet">

    <title>Student Dashboard</title>
</head>
<body>

<!--==================== HEADER ====================-->
<header class="header" id="header">
    <a class="nav__logo" href="/student/dashboard">
        <img alt="" class="nav__logo-img" src="/main/img/tero.png">
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href='/student/dashboard'>Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link nav__link--active" href='/community'>Community</a>
            </li>


            <li class="nav__item">
                <a href="#" id="profileLink" onclick="toggleMenu(event)">
                    <div class="circle-icon">
                        <svg class="bi bi-person-circle" fill="black" height="28" viewBox="0 0 16 16" width="28"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                  fill-rule="evenodd"/>
                        </svg>
                    </div>
                </a>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <span class="profile-arrow">&#9660;</span>
                        <div class="user-info">
                            <div class="circle-icon">
                                <svg class="bi bi-person-circle" fill="gray" height="28" viewBox="0 0 16 16"
                                     width="28" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                          fill-rule="evenodd"/>
                                </svg>
                            </div>
                            <h3 class="user-name" th:text="${studentName}"></h3>
                        </div>
                        <hr>

                        <a class="sub-menu-link" href="/student/manage-profile">
                            <svg class="bi bi-pencil" fill="currentColor" height="28" viewBox="0 0 16 16"
                                 width="28" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            <p>Manage Profile</p>
                        </a>

                        <a class="sub-menu-link" href="/logout">
                            <svg class="bi bi-box-arrow-right" fill="currentColor" height="28" viewBox="0 0 16 16"
                                 width="28" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                                      fill-rule="evenodd"/>
                                <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                      fill-rule="evenodd"/>
                            </svg>
                            <p>Logout</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nav__close" id="nav-close">
            <i class='bx bx-x'></i>
        </div>

    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
    </div>
</header>

<!--==================== Main ====================-->

<main class="main">
    <div id="successAlert" class="alert alert-success display-message" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
             class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="flex-shrink: 0;">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
        </svg>
        <p id="successMessage" style="margin-top: 1rem;"></p>
    </div>
    <section>
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">
                        <div class="card-body p-4">

                            <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this feedback?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="button" class="btn btn-danger" id="confirmDelete">Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Bootstrap Tabs -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="all-posts-tab"
                                            data-bs-toggle="tab" data-bs-target="#allPosts"
                                            type="button" role="tab" aria-controls="allPosts" aria-selected="true">
                                        Community Posts
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="your-posts-tab"
                                            data-bs-toggle="tab" data-bs-target="#yourPosts"
                                            type="button" role="tab" aria-controls="yourPosts" aria-selected="false">My
                                        Posts
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <!-- All Posts Tab Pane -->
                                <div class="tab-pane fade show active" id="allPosts" role="tabpanel"
                                     aria-labelledby="all-posts-tab">
                                    <h5 class="fw-light mb-4 pb-2">Recent comments</h5>

                                    <!-- Content for All Posts -->
                                    <div th:if="${#lists.isEmpty(feedbackList)}"
                                         style="position: absolute; left: 41%;bottom: 5%;font-size: 1.1rem;font-style: italic;">
                                        <p>No feedbacks are added yet.</p>
                                    </div>

                                    <!-- Thymeleaf loop for feedbackList -->
                                    <div th:unless="${#lists.isEmpty(feedbackList)}">
                                        <div th:each="feedback : ${feedbackList}">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     th:src="${feedback.student.image}" alt="avatar" width="60"
                                                     height="60"/>
                                                <div>
                                                    <h6 class="fw-bold mb-1"
                                                        th:text="${feedback.student.firstName + ' ' + feedback.student.lastName}">
                                                        Student Name
                                                    </h6>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <p class="mb-0">
                           <span th:text="${#temporals.format(feedback.postDate, 'MMMM dd, yyyy')}">March 07, 2021
                           </span>
                                                            <!-- Check for 'APPROVED' status -->
                                                            <span th:if="${feedback.status.name() == 'APPROVED'}"
                                                                  class="badge bg-success" th:text="${feedback.status}">APPROVED</span>

                                                            <!-- Check for 'REJECTED' status -->
                                                            <span th:if="${feedback.status.name() == 'REJECTED'}"
                                                                  class="badge bg-danger" th:text="${feedback.status}">REJECTED</span>

                                                            <!-- Check for 'PENDING' status -->
                                                            <span th:if="${feedback.status.name() == 'PENDING'}"
                                                                  class="badge bg-primary" th:text="${feedback.status}">PENDING</span>

                                                        </p>

                                                        <a href="#edit" class="link-muted"><i
                                                                class="fas fa-pencil-alt ms-2"></i></a>
                                                        <a href="#delete" class="link-muted"><i
                                                                class="fas fa-trash-alt ms-2"></i></a>
                                                        <a href="#like" class="link-muted"><i
                                                                class="fas fa-heart ms-2"></i></a></div>

                                                    <p class="mb-0" th:text="${feedback.comment}">
                                                        Feedback comment will appear here.
                                                    </p>
                                                </div>
                                            </div>
                                            <hr class="my-0"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="yourPosts" role="tabpanel"
                                     aria-labelledby="your-posts-tab">
                                    <h5 class="fw-light mb-4 pb-2">Your Comments</h5>

                                    <!-- Content for Your Posts -->
                                    <div th:if="${#lists.isEmpty(studentFeedback)}"
                                         style="position: absolute; left: 41%;bottom: 20%;font-size: 1.1rem;font-style: italic;">
                                        <p>No personal feedbacks added yet.</p>
                                    </div>

                                    <!-- Thymeleaf loop for studentFeedback -->
                                    <div th:unless="${#lists.isEmpty(studentFeedback)}">
                                        <div th:each="feedback : ${studentFeedback}" th:id="'feedback-item-' + ${feedback.id}">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     th:src="${feedback.student.image}" alt="avatar" width="60"
                                                     height="60"/>
                                                <div>
                                                    <h6 class="fw-bold mb-1"
                                                        th:text="${feedback.student.firstName + ' ' + feedback.student.lastName}">
                                                        Student Name
                                                    </h6>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <p class="mb-0">
                                                            <span th:text="${#temporals.format(feedback.postDate, 'MMMM dd, yyyy')}">Date</span>
                                                            <!-- Status badges, similar to the 'All Posts' tab -->
                                                            <span th:if="${feedback.status.name() == 'APPROVED'}"
                                                                  class="badge bg-success" th:text="${feedback.status}">APPROVED</span>
                                                            <span th:if="${feedback.status.name() == 'REJECTED'}"
                                                                  class="badge bg-danger" th:text="${feedback.status}">REJECTED</span>
                                                            <!-- Grey badge for 'PENDING' status -->
                                                            <span th:if="${feedback.status.name() == 'PENDING'}"
                                                                  class="badge bg-secondary"
                                                                  th:text="${feedback.status}">PENDING</span>
                                                        </p>
                                                        <!-- Icons for edit, delete, like, etc. -->
                                                        <a href="#edit" class="link-muted" style="color: green"><i
                                                                class="fas fa-pencil-alt ms-2"></i></a>
                                                        <a href="" class="link-muted delete-icon" style="color: red"
                                                           th:data-feedback-id="${feedback.id}"
                                                           th:data-student-id="${feedback.student.id}">
                                                            <svg class="icon-20 delete-icon ms-2" width="20"
                                                                 viewBox="0 0 24 24" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 stroke="currentColor">
                                                                <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"
                                                                      stroke="currentColor" stroke-width="1.5"
                                                                      stroke-linecap="round"
                                                                      stroke-linejoin="round"></path>
                                                                <path d="M20.708 6.23975H3.75" stroke="currentColor"
                                                                      stroke-width="1.5" stroke-linecap="round"
                                                                      stroke-linejoin="round"></path>
                                                                <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"
                                                                      stroke="currentColor" stroke-width="1.5"
                                                                      stroke-linecap="round"
                                                                      stroke-linejoin="round"></path>
                                                            </svg>
                                                        </a>
                                                        <a href="#like" class="link-muted"><i
                                                                class="fas fa-heart ms-2"></i></a>
                                                    </div>
                                                    <p class="mb-0" th:text="${feedback.comment}">
                                                        Feedback comment will appear here.
                                                    </p>
                                                </div>
                                            </div>
                                            <hr class="my-0"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!--==================== FOOTER ====================-->
<footer>
    <div class="footer">
        <a class="footer__logo" href="/student/dashboard">
            <center><img alt="" class="footer__logo-img" src="/main/img/tero.png"></center>
        </a>
        &copy;<span id="year"> </span><span> Tero. All rights reserved.</span>
    </div>
</footer>

<!--=============== MAIN JS ===============-->
<script src="/main/js/main.js"></script>
<script src="/student-dashboard/js/studentName.js"></script>
<script src="/main/js/profile-pic.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="/community/js/delete-feedback.js"></script>
<script src="/main/js/menu-toggle.js"></script>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
