<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--=============== FAVICON ===============-->
    <link href="/main/img/tero.png" rel="icon" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!--=============== BOXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link href="/main/css/swiper-bundle.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="/main/css/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <link href="/manage-profile/css/manage-profile.css" rel="stylesheet">
    <title>Manage Profile</title>
</head>
<body>

<header class="header" id="header">
    <a class="nav__logo" href="/company/dashboard">
        <img alt="" class="nav__logo-img" src="/main/img/tero.png">
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href='/company/dashboard'>Home</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="/advertisement/ads-form">Post Job</a>
            </li>

            <li class="nav-item dropdown notification-wrapper">
                <a class="nav-link dropdown-toggle notification-icon"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"
                   th:classappend="${#lists.isEmpty(notifications) ? 'disabled' : ''}"> <!-- Disable if empty -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black"
                         class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                    <span id="notificationCount" class="notification-badge">
                           [[${#lists.size(notifications)}]]
                    </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" th:unless="${#lists.isEmpty(notifications)}">
                    <li th:each="notification : ${notifications}">
                        <a class="dropdown-item text-wrap" href="#" th:data-notification-id="${notification.id}"
                           th:text="${notification.message}">Notification message</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item">
                <a href="#" id="profileLink" onclick="toggleMenu()">
                    <div class="circle-icon">
                        <svg class="bi bi-person-circle" fill="black" height="28" viewBox="0 0 16 16" width="28"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                  fill-rule="evenodd"/>
                        </svg>
                    </div>
                </a>
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <span class="profile-arrow">&#9660;</span>
                        <div class="user-info">
                            <div class="circle-icon">
                                <svg class="bi bi-person-circle" fill="gray" height="28" viewBox="0 0 16 16"
                                     width="28" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                          fill-rule="evenodd"/>
                                </svg>
                            </div>
                            <h3 style="margin-left: 1rem;" id="companyNameDisplay" th:text="${companyName}"></h3>
                        </div>
                        <hr>

                        <a class="sub-menu-link" href="/company/manage-profile">
                            <svg class="bi bi-pencil" fill="currentColor" height="28" viewBox="0 0 16 16"
                                 width="28" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            <p>Manage Profile</p>
                        </a>

                        <a class="sub-menu-link" href="#">
                            <svg class="bi bi-info-circle" fill="currentColor" height="28" viewBox="0 0 16 16"
                                 width="28" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                            <p>Help</p>
                        </a>

                        <a class="sub-menu-link" href="/logout">
                            <svg class="bi bi-box-arrow-right" fill="currentColor" height="28" viewBox="0 0 16 16"
                                 width="28" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                                      fill-rule="evenodd"/>
                                <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                      fill-rule="evenodd"/>
                            </svg>
                            <p>Logout</p>
                        </a>
                    </div>
                </div>
            </li>

        </ul>

        <div class="nav__close" id="nav-close">
            <i class='bx bx-x'></i>
        </div>

    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
    </div>
</header>


<main class="main">
    <section class="home container" id="home">
        <div class="home__content">
            <div class="home__group">
                <div class="hero">

                    <div class="modal fade" id="markAsReadModal" tabindex="-1" aria-labelledby="markAsReadModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="markAsReadModalLabel">Confirm Action</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to mark this notification as read?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" id="confirmRead">Mark as Read</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container my-5">
                        <div class="card card-border">
                            <div class="card-header text-white" style="background-color: #3498db; border-bottom-color: #3498db">
                                Manage Profile
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="profileTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="edit-profile-tab" data-bs-toggle="tab" data-bs-target="#editProfile" type="button" role="tab" aria-controls="editProfile" aria-selected="true">Edit Profile</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#changePassword" type="button" role="tab" aria-controls="changePassword" aria-selected="false">Change Password</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="profileTabContent">
                                    <div class="tab-pane fade show active" id="editProfile" role="tabpanel" aria-labelledby="edit-profile-tab">
                                        <!-- Profile Edit Form Here -->
                                        <form enctype="multipart/form-data" id="profileForm">
                                                <div class="container-xl px-4 mt-4">
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            <div class="card mb-4 mb-xl-0">
                                                                <div class="card-header">Profile Picture</div>
                                                                <div class="card-body text-center">
                                                                    <!-- Profile picture upload input -->
                                                                    <div class="avatar-upload">
                                                                        <div class="avatar-edit">
                                                                            <input accept="\*" id="companyImage"
                                                                                   name="companyImage"
                                                                                   type='file'/>
                                                                            <label for="companyImage"></label>
                                                                        </div>
                                                                        <input id="hiddenCompanyImageUrl"
                                                                               th:value="${companyImage}"
                                                                               type="hidden"/>
                                                                        <div class="avatar-preview">
                                                                            <div id="imagePreview"></div>
                                                                        </div>
                                                                    </div>
                                                                    <h5 style="margin-top:-2.4rem"
                                                                        th:text="${companyName}"></h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-8">
                                                            <!-- Account details card -->
                                                            <div class="card mb-4">
                                                                <div class="card-header">Account Details</div>
                                                                <div class="card-body">
                                                                    <!-- Account details fields -->
                                                                    <div class="mb-3">
                                                                        <label class="small mb-1"
                                                                               for="inputEmailAddress">Email
                                                                            address</label>
                                                                        <input class="form-control" disabled
                                                                               id="inputEmailAddress"
                                                                               name="email"
                                                                               placeholder="Enter your email address"
                                                                               th:value="${email}" type="email">
                                                                    </div>
                                                                    <div class="row gx-3 mb-3">
                                                                        <!-- Form Group (Company name) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1" for="CompanyName">Company
                                                                                name<span
                                                                                        style="color: red">*</span></label>
                                                                            <input class="form-control" id="CompanyName"
                                                                                   name="companyName"
                                                                                   placeholder="Enter your Company name"
                                                                                   disabled
                                                                                   th:value="${companyName}"
                                                                                   type="text">
                                                                        </div>
                                                                        <!-- Form Group (Industry) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1"
                                                                                   for="IndustryName">Industry<span
                                                                                    style="color: red">*</span></label>
                                                                            <input class="form-control"
                                                                                   id="IndustryName"
                                                                                   name="industry"
                                                                                   placeholder="Enter your Industry"
                                                                                   th:value="${industry}"
                                                                                   type="text">
                                                                        </div>
                                                                    </div>
                                                                    <!-- Form Row -->
                                                                    <div class="row gx-3 mb-3">
                                                                        <!-- Form Group (location) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1"
                                                                                   for="inputLocation">Location</label>
                                                                            <input class="form-control"
                                                                                   id="inputLocation"
                                                                                   name="location"
                                                                                   placeholder="Enter your location"
                                                                                   th:value="${location}"
                                                                                   type="text">
                                                                        </div>
                                                                        <!-- Form Group (phone number) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1" for="inputPhone">Phone
                                                                                number</label>
                                                                            <input class="form-control" id="inputPhone"
                                                                                   name="phoneNumber"
                                                                                   oninput="handlePhoneInput(this)"
                                                                                   placeholder="Enter your phone number"
                                                                                   th:value="${phoneNumber}"
                                                                                   type="tel">
                                                                        </div>
                                                                    </div>
                                                                    <!-- Form Row -->
                                                                    <div class="row gx-3 mb-3">
                                                                        <!-- Form Group (number of employees) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1"
                                                                                   for="inputEmpNumber">Number
                                                                                of
                                                                                Employees</label>
                                                                            <input class="form-control"
                                                                                   id="inputEmpNumber"
                                                                                   min="0" name="numOfEmployees"
                                                                                   placeholder="Number of Employees"
                                                                                   th:value="${numOfEmployees}"
                                                                                   type="number">
                                                                        </div>
                                                                        <!-- Form Group (establishment year) -->
                                                                        <div class="col-md-6">
                                                                            <label class="small mb-1" for="inputEYear">Establishment
                                                                                Year</label>
                                                                            <input class="form-control" id="inputEYear"
                                                                                   max="2100" min="1900"
                                                                                   name="establishmentYear"
                                                                                   placeholder="YYYY"
                                                                                   th:value="${establishmentYear}"
                                                                                   type="number">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    <button class="btn btn-primary btn-cool" type="submit">
                                                                        Save changes
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="changePassword" role="tabpanel"
                                         aria-labelledby="change-password-tab">
                                        <!-- Change Password Form Here -->
                                        <form id="changePasswordForm">
                                            <div class="mb-3" style="padding-top: 1rem;">
                                                <label for="currentPassword" class="form-label">Current Password</label>
                                                <input type="password" class="form-control" id="currentPassword">
                                                <span id="errorCurrentPassword" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label for="newPassword" class="form-label">New Password</label>
                                                <input type="password" class="form-control" id="newPassword">
                                                <span id="errorNewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirmPassword">
                                                <span id="errorConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-cool">Change Password</button>
                                        </form>
                                    </div>

                                    <div id="successAlert" class="alert alert-success display-message" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="flex-shrink: 0;">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                                        </svg>
                                        <p id="successMessage" style="margin-top: 1rem;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<footer>
<div class="footer">
    <a class="footer__logo" href="/tero">
        <center><img alt="" class="footer__logo-img" src="/main/img/tero.png"></center>
    </a>
    &copy;<span id="year"> </span><span> Tero. All rights reserved.</span>
</div>
</footer>
<script>
    function toggleMenu() {
        const subMenuWrap = document.getElementById("subMenu");
        subMenu.classList.toggle("open-menu");
    }
</script>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
<script src="/manage-profile/js/manageP.js"></script>
<script src="/company-dashboard/js/changePassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="/company-dashboard/js/notification.js"></script>

</body>
</html>