.display-message {
    display: none;
    position: fixed;
    top: 1.325rem;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1050;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;
}

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.feedback-comment {
    max-width: 27.8%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.text-danger {
    color: #dc3545;
}

.text-muted {
    color: #6c757d;
}

.custom-textarea {
    height: 150px;
}

.status-approved {
    color: green;
}

.status-rejected {
    color: red;
}