.display-message {
    display: none;
    position: fixed;
    top: 1.325rem;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1050;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;
}

.rounded-circle {
    border-radius: 50%; /* creates the circle */
    object-fit: cover;  /* ensures the image covers the area without being stretched */
    width: 60px;        /* fixed width */
    height: 60px;       /* fixed height */
}