.dialog-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.dialog {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

.dialog button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

.dialog button:hover {
    background-color: #43a047;
}

.user-alert{
    position: absolute;
    margin-left: 33rem;
    margin-top: -3rem;
    display: none;
}

#basic-table, #basic-table th, #basic-table td {
    color: #000000;
}

#user-list-table tr td, #user-list-table tr th {
    color: #000000;
}

.pagination{
    padding: 1rem;
    margin-bottom: -1rem;
    margin-right: 1rem;
}