:root {
    --t-color: #1a4a61;
    --t-color-alt: rgba(20, 55, 72, 0.3);
    --bs-link-hover-color: #012e6c;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    color: #525252
}

.login-container {
    max-width: 1400px;
    width: 45rem;
    height: 35rem;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    transform: translateY(10%);
    margin: 3rem auto 0;
}

.login-form {
    flex: 1;
    padding: 5rem 3.75rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 2.5rem;
    text-align: center;
    color: var(--t-color);
    font-size: 2.5rem;
}

.login-form button {
    display: flex;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: all .5s;
    border: none;
    width: 100%;
    height: 2.813rem;
    margin-top: 4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.125rem;
    position: relative;
    overflow: hidden;
}

.login-form p {
    color: var(--t-color);
    margin-bottom: 3rem;
    font-size: 1.25rem;
}

.login-form button:hover {
    background-color: var(--first-color-alt);
}

.login-image {
    display: none;
    flex: 1;
    background: #f3f4f6 url("//assets/img/login.png") no-repeat center;
    background-size: cover;
}

.input-with-icon {
    position: relative;
    margin-bottom: 1.25rem;
}

.input-with-icon input {
    padding-left: 3.125rem;
    border: none;
    border-bottom: 2px solid #aaaaaa;
    height: 2rem;
    background-color: transparent;
    width: 25rem;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    color: #000;
}

.input-with-icon input:focus {
    border-bottom-color: var(--t-color);
    box-shadow: none;
    background-color: transparent;
}

.input-with-icon input::placeholder {
    color: var(--t-color-alt);
}

.input-with-icon i {
    position: absolute;
    left: 0.625rem;
    top: 27%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--t-color);
    transition: color 0.3s ease;
}

.input-with-icon input:focus + i {
    color: var(--t-color);
}

.error-message {
    min-height: 2rem;
    color: #FF0000;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.error-message-pass {
    min-height: 4rem;
    color: #FF0000;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.error-message-main {
    min-height: 2rem;
    color: #FF0000;
    font-size: 0.9rem;
    position: absolute;
}

.alert-error .alert {
    padding: 0.625rem;
    color: white;
    border-radius: 4px;
    margin-bottom: -5rem;
    margin-left: 9rem;
    width: 70%;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #430404;
    border: 1px solid #f44336;
}

.alert .icon {
    margin-right: 0.3rem;
    font-size: 1rem;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.display-message {
    display: none;
    position: fixed;
    top: 1.325rem;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1050;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;
}