<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/forget-password.css">

    <title>Forgot Password</title>
</head>
<body>

<div class="hero">
    <nav class="nav">
        <img src ="/images/logo.png" class="logo" alt="logo">
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">About Us</a> </li>
            <li><a href="#">Knowledge Box</a> </li>
        </ul>
    </nav>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header text-center">Reset Password</div>
                    <div class="card-body">
                        <form action="/forget-password" method="post">
                            <div class="form-group">
                                <label for="email">Email address:</label>
                                <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" th:value="${email}">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <p>
        &copy; <span id="currentYear"></span> Training Management System. All rights reserved.
    </p>
</footer>


</body>
</html>