<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--=============== FAVICON ===============-->
    <link href="/main/img/tero.png" rel="icon" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!--=============== BOXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link href="/main/css/swiper-bundle.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="/main/css/styles.css" rel="stylesheet">
    <link href="/forget-password/css/forget-password.css" rel="stylesheet">

    <title>Tero internships finder</title>
</head>
<body>
<!--==================== HEADER ====================-->
<header class="header" id="header">
    <a class="nav__logo" href="/">
        <img alt="" class="nav__logo-img" src="/main/img/tero.png">
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href='/'>Home</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="/about">About</a>
            </li>

            <li>
                <a class="button button--ghost" href="/login">Login</a>
            </li>

        </ul>

        <div class="nav__close" id="nav-close">
            <i class='bx bx-x'></i>
        </div>

    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
    </div>

</header>

<main class="main">
    <!--==================== HOME ====================-->
    <section class="home container" id="home">
        <div class="home__content">
            <div class="home__group">
                <div class="hero">
                    <div id="successAlert" class="alert alert-success display-message" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                             class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16" style="flex-shrink: 0;">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                        </svg>
                        <p id="successMessage" style="margin-top: 1rem;"></p>
                    </div>

                    <div class="alert-error">
                        <div style="display: none" class="alert" id="forgetErrorBox" role="alert">
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span class="text">Token has expired, please send an email to generate a new one</span>
                        </div>
                    </div>

                    <div class="login-container">
                        <div class="login-form">
                            <h2>Reset Password</h2>

                            <div th:if="${!#strings.isEmpty(errorMessage)}" class="mb-3 text-danger">
                                <p th:text="${errorMessage}"></p>
                            </div>
                            <form action="/forget-password" method="post" id="forgetPasswordForm">
                                <div class="mb-3 input-with-icon">
                                    <i class="fas fa-envelope" style="padding-top: 1.8rem"></i>
                                    <label for="email"></label>
                                    <input class="form-control" id="email" name="email" placeholder="Enter email"
                                           type="email">
                                    <div id="emailError" class="error-message"></div>
                                </div>
                                <button type="submit">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--==================== FOOTER ====================-->
<footer>
    <div class="footer">
        <a class="footer__logo" href="/">
            <center><img alt="" class="footer__logo-img" src="/main/img/tero.png"></center>
        </a>
        &copy;<span id="year"> </span><span> Tero. All rights reserved.</span>
    </div>
</footer>

<!--=============== SCROLL UP ===============-->
<!--<a class="scrollup" href="#" id="scroll-up">-->
<!--    <i class='bx bx-up-arrow-alt scrollup__icon'></i>-->
<!--</a>-->

<!--=============== MAIN JS ===============-->
<script src="/main/js/main.js"></script>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>

<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
</script>
<script src="/forget-password/js/forget-password.js"></script>
</body>
</html>