<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--=============== FAVICON ===============-->
    <link href="/main/img/tero.png" rel="shortcut icon" type="image/x-icon">

    <!--=============== BOXICONS ===============-->`
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link href="/main/css/swiper-bundle.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="/main/css/styles.css" rel="stylesheet">

    <title>Tero internships finder</title>
</head>
<body>
<!--==================== HEADER ====================-->
<header class="header" id="header">
    <a class="nav__logo" href="/tms/home">
        <img alt="" class="nav__logo-img" src="/main/img/tero.png">
    </a>

    <div class="nav__menu" id="nav-menu" style="padding-bottom: 10px">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link active-link" href="/tms/home">Home</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#about">About</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#trick">Knowledge box</a>
            </li>

            <a class="button button--ghost" href="/login">Login</a>
        </ul>

        <div class="nav__close" id="nav-close">
            <i class='bx bx-x'></i>
        </div>

    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
    </div>
</header>

<main class="main">
    <!--==================== HOME ====================-->
    <section class="home container" id="home">
        <div class="swiper home-swiper">
            <div class="swiper-wrapper">
                <!-- HOME SLIDER 1 -->
                <section class="swiper-slide">
                    <div class="home__content grid">
                        <div class="home__group">
                            <img alt="" class="home__img" src="/main/img/home-green.png">
                            <div class="home__indicator"></div>

                            <div class="home__details-img">
                                <h4 class="home__details-title">“Tero”</h4>
                                <span class="home__details-subtitle">The IT bird</span>
                            </div>
                        </div>

                        <div class="home__data">
                            <h3 class="home__subtitle">#1 Site to find an internship</h3>
                            <h1 class="home__title">EXPAND <br> YOUR <br> OPPORTUNITIES!</h1>
                            <p class="home__description">Hi, I'm Tero, I am currently in my last year of university, and
                                am trying to learn
                                something new, building my own career by finding a new home.
                            </p>

                            <div class="home__buttons">
                                <a class="button-home" href="/register">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!--==================== CATEGORY ====================-->
    <section class="section category">
        <h2 class="section__title">Favorite Companies <br> For you</h2>

        <div class="category__container container grid">
            <div class="category__data">
                <img alt="" class="category__img" src="/home-page/img/amazon-logo.png">
                <h3 class="category__title">Amazon</h3>
                <p class="category__description">Software Engineers love this one.</p>
            </div>

            <div class="category__data">
                <img alt="" class="category__img" src="/home-page/img/progressoft-logo.png">
                <h3 class="category__title">ProgressSoft</h3>
                <p class="category__description">Proud Jordanian Company, and there is a lot to learn here.</p>
            </div>

            <div class="category__data">
                <img alt="" class="category__img" src="/home-page/img/atypon-logo.svg">
                <h3 class="category__title">Atypon</h3>
                <p class="category__description">Encourage freshers to make a difference.</p>
            </div>
        </div>
    </section>

    <!--==================== ABOUT ====================-->
    <section class="section about" id="about">
        <div class="about__container container grid">
            <div class="about__data">
                <h2 class="section__title about__title">About Tero <br></h2>
                <p class="about__description">At TERO, we've crafted a haven for students seeking internships, just like
                    our feathered friend.
                    Dive into a world of possibilities as TERO guides you through a curated selection of internships
                    tailored to your interests, skills, and career goals.
                    Whether you're exploring opportunities in tech, business, creative arts, or beyond, TERO has your
                    back.
                    So, are you ready to embark on an internship adventure with TERO? 🚀
                </p>
                <a class="button-home" href="#">Know more</a>
            </div>

            <img alt="" class="about__img" src="/main/img/home-green.png">
        </div>
    </section>


    <!--==================== OUR NEWSLETTER ====================-->
    <section class="section newsletter">
        <div class="newsletter__container container">
            <h2 class="section__title">Our Newsletter</h2>
            <p class="newsletter__description">
                Promotes new internships and OPPORTUNITIES. Directly to your inbox
            </p>

            <form action="" class="newsletter__form">
                <input class="newsletter__input" placeholder="Enter your email" type="text">
                <button class="button-home">
                    Subscribe
                </button>
            </form>
        </div>
    </section>
</main>

<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a class="footer__logo" href="/tms/home">
                <img alt="" class="footer__logo-img" src="/main/img/tero.png">
                Tero
            </a>

            <p class="footer__description">Enjoy the Best internships <br> of your career.</p>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">About</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#about">About Us</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Features</a>
                </li>
                <li>
                    <a class="footer__link" href="#">News</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Services</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#">Pricing</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Discounts</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Shipping mode</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Company</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#">Blog</a>
                </li>
                <li>
                    <a class="footer__link" href="#about">About us</a>
                </li>
                <li>
                    <a class="footer__link" href="#about">Our mission</a>
                </li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">&#169; Tero. All rights reserved</span>
</footer>

<!--=============== SCROLL UP ===============-->
<a class="scrollup" href="#" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="/main/js/scrollreveal.min.js"></script>

<!--=============== SWIPER JS ===============-->
<script src="/main/js/swiper-bundle.min.js"></script>

<!--=============== MAIN JS ===============-->
<script src="/main/js/main.js"></script>
</body>
</html>