<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/main/img/tero.png" type="image/x-icon">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============--> 
        <link rel="stylesheet" href="/main/css/swiper-bundle.min.css">

        <!--=============== CSS ===============--> 
        <link rel="stylesheet" href="/main/css/styles.css">

        <title>Tero internships finder</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="/tms/home" class="nav__logo">
                    <img src="/main/img/tero.png" alt="" class="nav__logo-img">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/tms/home" class="nav__link active-link">Home</a>
                        </li>

                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>

                        <li class="nav__item">
                            <a href="#trick" class="nav__link">Knowledge box</a>
                        </li>


                        <a href="/login" class="button button--ghost">Login</a>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>

            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home container" id="home">
                <div class="swiper home-swiper">
                    <div class="swiper-wrapper">
                        <!-- HOME SLIDER 1 -->
                        <section class="swiper-slide">
                            <div class="home__content grid">
                                <div class="home__group">
                                    <img src="/main/img/home-green.png" alt="" class="home__img">
                                    <div class="home__indicator"></div>
    
                                    <div class="home__details-img">
                                        <h4 class="home__details-title">“Tero”</h4>
                                        <span class="home__details-subtitle">The IT bird</span>
                                    </div>
                                </div>
    
                                <div class="home__data">
                                    <h3 class="home__subtitle">#1 Site to find an internship</h3>
                                    <h1 class="home__title">EXPAND <br> YOUR <br> OPPORTUNITIES!</h1>
                                    <p class="home__description">Hi, I'm Tero, I am currently in my last year of university, and am trying to learn 
                                        something new, building my own career by finding a new home.
                                    </p>

                                    <div class="home__buttons">
                                        <a href="/register" class="button">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
            
            <!--==================== CATEGORY ====================-->
            <section class="section category">
                <h2 class="section__title">Favorite Companies <br> For you</h2>

                <div class="category__container container grid">
                    <div class="category__data">
                        <img src="/home-page/img/amazon-logo.png" alt="" class="category__img">
                        <h3 class="category__title">Amazon</h3>
                        <p class="category__description">Software Engineers love this one.</p>
                    </div>

                    <div class="category__data">
                        <img src="/home-page/img/progressoft-logo.png" alt="" class="category__img">
                        <h3 class="category__title">ProgressSoft</h3>
                        <p class="category__description">Proud Jordanian Company, and there is a lot to learn here.</p>
                    </div>

                    <div class="category__data">
                        <img src="/home-page/img/atypon-logo.svg" alt="" class="category__img">
                        <h3 class="category__title">Atypon</h3>
                        <p class="category__description">Encourage freshers to make a difference.</p>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="section about" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">About Tero <br></h2>
                        <p class="about__description">At TERO, we've crafted a haven for students seeking internships, just like our feathered friend. 
                            Dive into a world of possibilities as TERO guides you through a curated selection of internships tailored to your interests, skills, and career goals.
                            Whether you're exploring opportunities in tech, business, creative arts, or beyond, TERO has your back.
                            So, are you ready to embark on an internship adventure with TERO? 🚀
                        </p>
                        <a href="#" class="button">Know more</a>
                    </div>

                    <img src="/main/img/home-green.png" alt="" class="about__img">
                </div>
            </section>


            <!--==================== OUR NEWSLETTER ====================-->
            <section class="section newsletter">
                <div class="newsletter__container container">
                    <h2 class="section__title">Our Newsletter</h2>
                    <p class="newsletter__description">
                        Promotes new internships and OPPORTUNITIES. Directly to your inbox
                    </p>

                    <form action="" class="newsletter__form">
                        <input type="text" placeholder="Enter your email" class="newsletter__input">
                        <button class="button">
                            Subscribe
                        </button>
                    </form>
                </div>
            </section>
        </main>

        <!--==================== FOOTER ====================-->
            <footer class="footer section">
                <div class="footer__container container grid">
                    <div class="footer__content">
                        <a href="/tms/home" class="footer__logo">
                            <img src="/main/img/tero.png" alt="" class="footer__logo-img">
                            Tero
                        </a>

                        <p class="footer__description">Enjoy the Best internships <br> of your career.</p>
                        
                        <div class="footer__social">
                            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-instagram-alt' ></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-twitter' ></i>
                            </a>
                        </div>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">About</h3>
                        
                        <ul class="footer__links">
                            <li>
                                <a href="#about" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">News</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Our Services</h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Pricing</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Discounts</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Shipping mode</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__content">
                        <h3 class="footer__title">Our Company</h3>
                        
                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">Blog</a>
                            </li>
                            <li>
                                <a href="#about" class="footer__link">About us</a>
                            </li>
                            <li>
                                <a href="#about" class="footer__link">Our mission</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="footer__copy">&#169; Tero. All rights reserved</span>
            </footer>

            <!--=============== SCROLL UP ===============-->
            <a href="#" class="scrollup" id="scroll-up">
                <i class='bx bx-up-arrow-alt scrollup__icon'></i>
            </a>
        
        <!--=============== SCROLL REVEAL ===============-->
        <script src="/main/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="/main/js/swiper-bundle.min.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="/main/js/main.js"></script>
    </body>
</html>