<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!--=============== FAVICON ===============-->
    <link href="/main/img/tero.png" rel="icon" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!--=============== BOXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link href="/main/css/swiper-bundle.min.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link href="/main/css/styles.css" rel="stylesheet">

    <link href="/login-page/css/login.css" rel="stylesheet">


    <title>Tero internships finder</title>
</head>
<body>
<!--==================== HEADER ====================-->
<header class="header" id="header">
    <a class="nav__logo" href="/tero">
        <img alt="" class="nav__logo-img" src="/main/img/tero.png">
    </a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link active-link" href='/tero'>Home</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#about">About</a>
            </li>

            <li class="nav__item">
                <a class="nav__link" href="#trick">Knowledge box</a>
            </li>


            <a class="button button--ghost" href="/register">Signup</a>
        </ul>

        <div class="nav__close" id="nav-close">
            <i class='bx bx-x'></i>
        </div>

    </div>

    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-grid-alt'></i>
    </div>

</header>

<main class="main">
    <!--==================== HOME ====================-->
    <section class="home container" id="home">
        <div class="home__content">
            <div class="home__group">
                <div class="hero">
                    <div class="login-container">
                        <div class="login-form">
                            <h1>Welcome Back!</h1>
                            <form action="/login" id="loginForm" method="post">
                                <div class="error-message-main" id="errorMessage"></div>
                                <div class="mb-3 input-with-icon">
                                    <i class="fas fa-envelope"></i>
                                    <label for="email"></label><input class="form-control" id="email" name="email"
                                                                      placeholder="Email" type="text">
                                    <div class="error-message" id="emailError"></div>
                                </div>
                                <div class="mb-3 password-container input-with-icon">
                                    <i class="fas fa-lock"></i>
                                    <label for="password"></label><input class="form-control" id="password"
                                                                         name="password" placeholder="Password"
                                                                         type="password">
                                    <a class="forgot-password" href="/forget-password"
                                       id="forgotPassword" onclick="return handleForgotPasswordLink();">Forgot
                                        Password?</a>
                                    <div class="error-message" id="passwordError"></div>
                                </div>
                                <button type="submit">Login</button>
                                <center><p> Don't have an account? <a class="register" href="/register">Register</a></p>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<!--==================== FOOTER ====================-->
<footer class="footer section" style="margin-top: -10rem">
    <div class="footer__container container grid">
        <div class="footer__content">
            <a class="footer__logo" href="/tero">
                <img alt="" class="footer__logo-img" src="/main/img/tero.png">
            </a>
            <p class="footer__description">Enjoy the Best internships <br> of your career.</p>

        </div>

        <div class="footer__content">
            <h3 class="footer__title">About</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#">About Us</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Features</a>
                </li>
                <li>
                    <a class="footer__link" href="#">News</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Services</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#">Pricing</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Discounts</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Shipping mode</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Company</h3>

            <ul class="footer__links">
                <li>
                    <a class="footer__link" href="#">Blog</a>
                </li>
                <li>
                    <a class="footer__link" href="#">About us</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Our mission</a>
                </li>
            </ul>
        </div>
    </div>

    <span class="footer__copy">&#169; Tero. All rights reserved</span>
</footer>

<!--=============== SCROLL UP ===============-->
<a class="scrollup" href="#" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
</a>

<!--=============== MAIN JS ===============-->
<script src="/main/js/main.js"></script>

<script src="/login-page/js/formSubmission.js"></script>

</body>
</html>