<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/manage-profile.css">
  <title>Manage Profile</title>
</head>
<body>
<div class="hero">
  <nav class="nav">
    <img src="/images/logo.png" class="logo" alt="logo">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Post Job</a></li>
      <li class="profile"><a href="#" id="profileLink" onclick="toggleMenu()">Me</a></li>
    </ul>
    <img src="/images/default_profile.png" alt="profile_picture" class="user-pic" onclick="toggleMenu()">

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/images/default_profile.png" alt="profile_picture">
          <h3 th:text="${companyName}"></h3>
        </div>
        <hr>

        <a href="/company/manage-profile" class="sub-menu-link">
          <img src="/images/profile.png" alt="manage_profile">
          <p>Manage Profile</p>
        </a>

        <a href="#" class="sub-menu-link">
          <img src="/images/help.png" alt="help">
          <p>Help</p>
        </a>

        <a href="#" class="sub-menu-link">
          <img src="/images/logout.png" alt="logout">
          <p>Logout</p>
        </a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#" onclick="openCameraModal()">
                  <img src="/images/default_profile.png" class="rounded-circle" id="profilePic">
                  <div class="profile-image-overlay">
                    <i class="fa fa-camera"></i>
                  </div>
                </a>
              </div>

            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <h3 th:text="${companyName}"></h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Amman, Jordan
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Online publishing platform service provider.
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>University of Computer Science
              </div>
              <hr class="my-4">
              <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs, and records all of his own music.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Edit Profile</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Company information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Company name</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="Atypon">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Email</label>
                      <p id="email-text" class="form-text">Atypon@gmail.com</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Industry</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="industry" value="IT">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Password</label>
                      <input type="password" id="input-last-name" class="form-control form-control-alternative" placeholder="Password" value="12345">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>
    &copy; <span id="currentYear"></span> Training Management System. All rights reserved.
  </p>
</footer>

<script>
  let subMenu = document.getElementById("subMenu");
  function toggleMenu() {
    subMenu.classList.toggle("open-menu");
  }

  const loadFile = function (event) {
    const image = document.getElementById("output");
    image.src = URL.createObjectURL(event.target.files[0]);
  };

</script>
</body>
</html>